In [72]:
# Importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [73]:
# Loading data
df_initial = pd.read_csv('Reporting Analyst Task.csv')
df = df_initial
df.head()

,id,subject,group_id,assigneeName,status,priority,created_at,updated_at,channel,organization_id,Product,Alert Severity,Product Platform,Product Category,Customer First Response (UTC)
0,5437,spam,SRC - L1,John brain,open,NaN,"Dec 26, 2023, 01:35 AM","Dec 26, 2023, 01:36 AM",web,Microsoft SRC,NaN,NaN,NaN,NaN,NaN
1,5436,Infinity - SentinelOne - Black Hash is added/...,SRC - L1,Nir Handa,solved,normal,"Dec 26, 2023, 12:57 AM","Dec 26, 2023, 01:00 AM",web,Infinity,generic_/_other__temp,medium,on-prem,endpointsecurityedr,2023-12-26T09:00:33Z
2,5435,Suspicious email with malicious attachment,SRC - L1,NaN,open,high,"Dec 26, 2023, 12:52 AM","Dec 26, 2023, 12:59 AM",web,Bosch,NaN,NaN,NaN,NaN,NaN
3,5433,Honda - GCP GKE - User Attempts Multiple Denie...,SRC - L1,Omer Lakhmani,open,normal,"Dec 26, 2023, 12:34 AM","Dec 26, 2023, 12:35 AM",web,Honda,cloud_provider_/_service__gcp_-_gke,medium,gcp,cloud_provider_/_service,NaN
4,5432,Volvo : GuardDuty - Medium Severity Event,SRC - L1,Omer Lakhmani,pending,normal,"Dec 25, 2023, 10:55 PM","Dec 25, 2023, 10:55 PM",web,Volvo,cloud_provider_/_service__aws_guardduty,medium,aws_platform,cloud_provider_/_service,NaN

In [74]:
# Data description
(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5003 entries, 0 to 5002
Data columns (total 15 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   id                             5003 non-null   int64
 1   subject                        5003 non-null   object
 2   group_id                       5003 non-null   object
 3   assigneeName                   4939 non-null   object
 4   status                         5003 non-null   object
 5   priority                       4877 non-null   object
 6   created_at                     5003 non-null   object
 7   updated_at                     5003 non-null   object
 8   channel                        5003 non-null   object
 9   organization_id                4967 non-null   object
 10  Product                        4419 non-null   object
 11  Alert Severity                 4505 non-null   object
 12  Product Platform               3110 non-null   object
 13  Product Category               4599 non-null   object
 14  Customer First Response (UTC)  502 non-null    object
dtypes: int64(1), object(14)
memory usage: 586.4+ KB

#### Observations :
1. Dataset contains total 14 fields
2. Most of the fields are categorical.
3. As variables 'created_at', 'updated_at', 'Customer First Response (UTC)' contains values in date and time format, data type for these variables needs to be updated to 'datetime'.

In [75]:
# Checking for duplicate records in dataset
(df.duplicated().sum())

0

#### Observations :
Dataset contains 0 duplicate records

In [76]:
# Null Values count
null_counts = df.isnull().sum()
columns_with_nulls = null_counts[null_counts > 0]
columns_with_nulls
# (df.isnull().sum()/len(df)*100) -- Null value percentage

assigneeName                       64
priority                          126
organization_id                    36
Product                           584
Alert Severity                    498
Product Platform                 1893
Product Category                  404
Customer First Response (UTC)    4501
dtype: int64

#### Observation :
Fields - 'assigneeName', 'priority', 'organization_id', 'Product', 'Alert Severity', 'Product Platform', 'Product Category', 'Customer First Response (UTC)' contains null values

### Univariate Analysis and Null value imputation

##### Variable - 'group_id'

In [77]:
(df['group_id'].value_counts(dropna = False)) ## Checking unique vales

group_id
SRC - L1              4712
Research               117
DevOps                  99
Orchestrator            48
SRC - Global            12
Management              11
Apple Data Analyst       3
SRC - L2                 1
Name: count, dtype: int64

-- Variable 'group_id' looks fine and no updates required for this variable.

##### Variable - 'assigneeName'

In [78]:
(df['assigneeName'].value_counts(dropna = False)) ## Checking unique vales

assigneeName
Gil Kamalakannan            848
Ben Chauhan                 598
Danna Sival                 526
Zack Kumar                  496
keren Mishra                438
Omer Lakhmani               425
Avi Golovaty                374
Anna bansal                 233
Nir Handa                   174
Rahul Parashar              154
Avi Singh                   132
John brain                  114
Ella Gahlot                  88
NaN                          64
Anna Gilad                   59
Nir Limor                    52
Dor Tiwari                   51
Apple SRC - Orchestrator     48
Ariel Ainhoren               25
Shir Mehra                   17
Michael Modi                 16
Ben Rastogi                  16
Nitai Ben Shaul              12
Puneet Khandelwal            12
Hetram Yadav                 11
Daniel Kerman                10
Alex Kushnarev                5
Sri Ram Jha                   3
Ofir Levin                    2
Name: count, dtype: int64

- Null values for 'assigneeName' can be assigned as 'Not Applicable'

In [79]:
df['assigneeName'] = df['assigneeName'].fillna('Not Applicable') ## Fill up Null values as "Not Applicable"
(df['assigneeName'].value_counts(dropna = False))

assigneeName
Gil Kamalakannan            848
Ben Chauhan                 598
Danna Sival                 526
Zack Kumar                  496
keren Mishra                438
Omer Lakhmani               425
Avi Golovaty                374
Anna bansal                 233
Nir Handa                   174
Rahul Parashar              154
Avi Singh                   132
John brain                  114
Ella Gahlot                  88
Not Applicable               64
Anna Gilad                   59
Nir Limor                    52
Dor Tiwari                   51
Apple SRC - Orchestrator     48
Ariel Ainhoren               25
Shir Mehra                   17
Michael Modi                 16
Ben Rastogi                  16
Nitai Ben Shaul              12
Puneet Khandelwal            12
Hetram Yadav                 11
Daniel Kerman                10
Alex Kushnarev                5
Sri Ram Jha                   3
Ofir Levin                    2
Name: count, dtype: int64

##### Variable - 'status'

In [80]:
(df['status'].value_counts(dropna = False)) ## Checking unique vales

status
closed     4784
pending     109
open         60
solved       26
new          15
hold          9
Name: count, dtype: int64

- Variable 'status' looks fine and no updates required for this variable.

##### Variable - 'priority'

In [81]:
(df['priority'].value_counts(dropna = False)) ## Checking unique vales

priority
high      2867
normal    1727
low        222
NaN        126
urgent      61
Name: count, dtype: int64

- Null values for this variable can be assigned as 'Not defined'

In [82]:
df['priority'] = df['priority'].fillna('Not defined')
(df['priority'].value_counts(dropna = False))

priority
high           2867
normal         1727
low             222
Not defined     126
urgent           61
Name: count, dtype: int64

##### Variable - 'created_at'

- As this variable only conatins date and time, data type for this variable should be datetime

In [83]:
df['created_at'] = pd.to_datetime(df['created_at']) ## changing datatype to datetime
(df['created_at'])

0      2023-12-26 01:35:00
1      2023-12-26 00:57:00
2      2023-12-26 00:52:00
3      2023-12-26 00:34:00
4      2023-12-25 22:55:00
               ...
4998   2022-06-07 01:53:00
4999   2022-06-04 23:38:00
5000   2022-05-24 06:53:00
5001   2022-04-23 23:54:00
5002   2022-03-21 04:23:00
Name: created_at, Length: 5003, dtype: datetime64[ns]

##### Variable - 'updated_at'

- As this also variable only conatins date and time, data type for this variable should be datetime

In [84]:
df['updated_at']=pd.to_datetime(df['updated_at']) ## changing datatype to datetime
(df['updated_at'])

0      2023-12-26 01:36:00
1      2023-12-26 01:00:00
2      2023-12-26 00:59:00
3      2023-12-26 00:35:00
4      2023-12-25 22:55:00
               ...
4998   2022-08-13 05:04:00
4999   2022-08-11 07:04:00
5000   2022-09-21 02:04:00
5001   2022-04-28 00:02:00
5002   2022-09-21 02:04:00
Name: updated_at, Length: 5003, dtype: datetime64[ns]

##### Variable - 'channel'

In [85]:
(df['channel'].value_counts(dropna = False)) ## Checking unique vales

channel
web                  4933
api                    48
email                  13
side_conversation       7
voice                   1
sample_ticket           1
Name: count, dtype: int64

- Most of the tickets are form 'web' channel
- Channels 'voice' and 'sample_ticket' have one ticket each and enough information also not available for these variables. Records with channels 'voice' and 'sample_ticket' can be dropped from the table as these are present as outliers in dataset and might impact analysis

In [86]:
(df[df['channel'].isin(['voice', 'sample_ticket'])])

,id,subject,group_id,assigneeName,status,priority,created_at,updated_at,channel,organization_id,Product,Alert Severity,Product Platform,Product Category,Customer First Response (UTC)
4999,27,Missed call from Caller +1 (904) 587-1588,SRC - L1,John brain,closed,Not defined,2022-06-04 23:38:00,2022-08-11 07:04:00,voice,NaN,NaN,NaN,NaN,NaN,NaN
5002,1,Sample ticket: Meet the ticket,SRC - L1,Ofir Levin,closed,normal,2022-03-21 04:23:00,2022-09-21 02:04:00,sample_ticket,NaN,NaN,NaN,NaN,NaN,NaN

##### Varibale - 'organization_id'

In [87]:
(df['organization_id'].value_counts(dropna = False))

organization_id
Bosch                      1048
Infinity                    999
FOX                         949
Mazda                       320
Suzuki                      202
Volvo                       160
Jeep                        130
Simon                       119
Toyota                      106
Subaru                      101
Saas BV                      78
Microsoft Research           72
Honda                        71
Castro                       69
Apple                        61
Jupiter-Money                52
Microsoft SRC                40
Splitit                      37
NaN                          36
BMW                          31
Microsoft DevOps             30
Ford                         29
Akamai                       27
AAA                          25
KIA                          24
Nomu Pay                     22
Angel One                    20
Getuwired                    20
Microsoft                    20
Apple Data Analyst           18
Kreditbee                    15
MAC Finance Ltd              11
NISSAN                       11
FOX-test-Don't use!!!        10
Aeries Software              10
Bosch-test-Don't use!!!       9
Microsoft OKTA                7
Cohen                         7
Avi-test                      6
Yuval_Khalifa                 1
Name: count, dtype: int64

- Null values for this variable can be categorized as 'Not available'
- Values 'Microsoft', 'Microsoft Research', 'Microsoft SRC' , 'Microsoft DevOps', 'Microsoft OKTA' are of same organization and can be categorized under same group.
- Values 'Apple', 'Apple Data Analyst' are of same organization and can be categorized under same group.
- Values 'FOX' and 'FOX-test-Don't use!!!' are of same organization and can be categorized under same group.
- Values 'Bosch' and 'Bosch-test-Don't use!!!' are of same organization and can be categorized under same group.

In [88]:
df['organization_id'] = df['organization_id'].fillna('Not available')
df['organization_id'] = df['organization_id'].replace(to_replace=['Microsoft', 'Microsoft Research', 'Microsoft SRC' , 'Microsoft DevOps', 'Microsoft OKTA'], value = 'Microsoft')
df['organization_id'] = df['organization_id'].replace(to_replace=['Apple', 'Apple Data Analyst'], value = 'Apple')
df['organization_id'] = df['organization_id'].replace(to_replace=["FOX-test-Don't use!!!"], value = 'FOX')
df['organization_id'] = df['organization_id'].replace(to_replace=["Bosch-test-Don't use!!!"], value = 'Bosch')
(df['organization_id'].value_counts(dropna = False))

organization_id
Bosch              1057
Infinity            999
FOX                 959
Mazda               320
Suzuki              202
Microsoft           169
Volvo               160
Jeep                130
Simon               119
Toyota              106
Subaru              101
Apple                79
Saas BV              78
Honda                71
Castro               69
Jupiter-Money        52
Splitit              37
Not available        36
BMW                  31
Ford                 29
Akamai               27
AAA                  25
KIA                  24
Nomu Pay             22
Getuwired            20
Angel One            20
Kreditbee            15
MAC Finance Ltd      11
NISSAN               11
Aeries Software      10
Cohen                 7
Avi-test              6
Yuval_Khalifa         1
Name: count, dtype: int64

- Most of the tickets from organization 'Bosch', 'Infinity' and 'FOX'.

##### Variable - 'Alert Severity'

In [89]:
(df['Alert Severity'].value_counts(dropna = False))

Alert Severity
medium      2075
high        1501
NaN          498
critical     423
low          323
normal       159
medium_       17
urgent         7
Name: count, dtype: int64

- Null values can be categorised as "Not defined"
- 'medium' and 'medium_' values have same meaning and can be categorized under same group.

In [90]:
df['Alert Severity'] = df['Alert Severity'].fillna('Not defined')
df['Alert Severity'] = df['Alert Severity'].str.replace('medium_','medium')
(df['Alert Severity'].value_counts(dropna = False))

Alert Severity
medium         2092
high           1501
Not defined     498
critical        423
low             323
normal          159
urgent            7
Name: count, dtype: int64

- Most tickets are of 'medium' alert severity

##### Variable - 'Product Category'

In [91]:
(df['Product Category'].value_counts(dropna = False))

Product Category
cloud_provider_/_service            1402
identity_and_access_management       782
endpointsecurityedr                  519
NaN                                  404
Apple                                391
Microsoft                            335
vulnerability_management             206
firewallsandsecuritygroups           187
aws                                  172
generic_/_other                      155
ids_/_ips                            103
productivity                          98
waf_and_ddos_protection_services      98
email_security                        40
crowdstrike1                          32
dns_services                          23
threat_intelligence                   13
databases_and_database_security       11
encryption_and_vpn_software           11
azure                                  7
code_repositories                      3
serverless                             2
log_aggregators_and_siem_systems       2
virtualization                         2
posture_management                     2
security_scanners                      1
datadog1                               1
on-prem                                1
Name: count, dtype: int64

- Null values for 'Product Category' can be assigned as 'Uncategorized'

In [92]:
df['Product Category'] = df['Product Category'].fillna('Uncategorized') ## Imputing Null values as 'Uncategorized'
(df['Product Category'].value_counts(dropna = False))

Product Category
cloud_provider_/_service            1402
identity_and_access_management       782
endpointsecurityedr                  519
Uncategorized                        404
Apple                                391
Microsoft                            335
vulnerability_management             206
firewallsandsecuritygroups           187
aws                                  172
generic_/_other                      155
ids_/_ips                            103
productivity                          98
waf_and_ddos_protection_services      98
email_security                        40
crowdstrike1                          32
dns_services                          23
threat_intelligence                   13
databases_and_database_security       11
encryption_and_vpn_software           11
azure                                  7
code_repositories                      3
serverless                             2
log_aggregators_and_siem_systems       2
virtualization                         2
posture_management                     2
security_scanners                      1
datadog1                               1
on-prem                                1
Name: count, dtype: int64

##### Variable - 'Product'

In [93]:
(df['Product'].value_counts(dropna = False))

Product
NaN                                          584
identity_and_access_management__jumpcloud    424
Microsoft                                    312
cloud_provider_/_service__aws_guardduty      310
endpoint_security__edr___crowdstrike         289
                                            ...
Microsoft__integration_/_3rd_party             1
gcp__gcp_-_security_command_center             1
cloud_provider_/_service__gcp_-_gke            1
gcp__gcp_-_gce                                 1
log_aggregators_and_siem_systems__temp         1
Name: count, Length: 100, dtype: int64

- Product is not avaibale for many tickests.
- Null values of Product variable can be categorized as 'Unknown'

In [94]:
df['Product']=df['Product'].fillna('Unknown') ## Imputing Null values as 'Unknown'
(df['Product'].value_counts(dropna = False))

Product
Unknown                                      584
identity_and_access_management__jumpcloud    424
Microsoft                                    312
cloud_provider_/_service__aws_guardduty      310
endpoint_security__edr___crowdstrike         289
                                            ...
Microsoft__integration_/_3rd_party             1
gcp__gcp_-_security_command_center             1
cloud_provider_/_service__gcp_-_gke            1
gcp__gcp_-_gce                                 1
log_aggregators_and_siem_systems__temp         1
Name: count, Length: 100, dtype: int64

##### Variable - 'Product Platform'

In [95]:
(df['Product Platform'].value_counts(dropna = False))

Product Platform
NaN                           1893
aws_platform                  1740
on-prem                        360
azure                          265
end_point_operating_system     255
Microsoft_platfrom             190
google_workspace               118
gcp                             85
Microsoftplatform               76
integration                     13
ui                               8
Name: count, dtype: int64

- Most of the values in 'Product Platform' are Null and can be assigned as 'Unknown'
- values 'Microsoft_platfrom' and 'Microsoftplatform' are same and can be categorized under same group.

In [96]:
df['Product Platform']=df['Product Platform'].fillna('Unknown') ## Imputing Null value as 'Unknown'
df['Product Platform']=df['Product Platform'].str.replace('Microsoftplatform','Microsoft_platfrom')
(df['Product Platform'].value_counts(dropna = False))

Product Platform
Unknown                       1893
aws_platform                  1740
on-prem                        360
Microsoft_platfrom             266
azure                          265
end_point_operating_system     255
google_workspace               118
gcp                             85
integration                     13
ui                               8
Name: count, dtype: int64

##### Variable - 'Customer First Response (UTC)'

In [97]:
(df['Customer First Response (UTC)'].value_counts(dropna = False)) ## Counting unique values

Customer First Response (UTC)
NaN                                     4501
2023-10-05T03:42:47Z                       3
2023-09-19T17:01:06Z                       2
2023-11-09T04:34:27Z                       2
2023-09-14T05:34:47Z                       1
                                        ...
2023-11-01T23:35:08Z                       1
2023-11-01T15:28:07Z                       1
2023-11-02T07:32:07Z                       1
2023-11-01T15:05:53Z                       1
{{ticket.updated_at_with_timestamp}}       1
Name: count, Length: 499, dtype: int64

- 'Customer First Response (UTC)' variable contains most of the values in date and time format, but also conatins some values in string format.
Ignoring values in string and chnaging the datatype of this variable from object to datetime.
- Leaving Null values as blank for this variable , its not ideal to impute dates based on assumption.

In [98]:
df['Customer First Response (UTC)']=pd.to_datetime(df['Customer First Response (UTC)'],errors="coerce") ## Changing data type from object to 'datetime'
df['Customer First Response (UTC)'].dtype

datetime64[ns, UTC]

#### Dropping records having channel as 'voice' and 'sample_ticket' from final dataset

In [99]:
df_final = df[~df['channel'].isin(['voice', 'sample_ticket'])]
df_final['channel'].value_counts()

channel
web                  4933
api                    48
email                  13
side_conversation       7
Name: count, dtype: int64

In [109]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5001 entries, 0 to 5001
Data columns (total 15 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   id                             5001 non-null   int64
 1   subject                        5001 non-null   object
 2   group_id                       5001 non-null   object
 3   assigneeName                   5001 non-null   object
 4   status                         5001 non-null   object
 5   priority                       5001 non-null   object
 6   created_at                     5001 non-null   datetime64[ns]
 7   updated_at                     5001 non-null   datetime64[ns]
 8   channel                        5001 non-null   object
 9   organization_id                5001 non-null   object
 10  Product                        5001 non-null   object
 11  Alert Severity                 5001 non-null   object
 12  Product Platform               5001 non-null   object
 13  Product Category               5001 non-null   object
 14  Customer First Response (UTC)  497 non-null    datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), datetime64[ns](2), int64(1), object(11)
memory usage: 625.1+ KB

#### Exporting final dataset for analysis

In [ ]:
#df_final.to_csv("Reporting Analyst Task_final.csv",index=False)